<div class="row">
  <div class="col-md-4 login">
    <div class="row align-items-center">
      <div class="modal-content ">
        <div class="modal-header">
          <h4 class="modal-title">Member Login</h4>
        </div>
        <div class="modal-body">
          <form action = "/sessions" method = "post">
            <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
            <div class="form-group">
              <input type="text" class="form-control" name="email" placeholder="Email" >
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password" >
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Log In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-6 regis">
      <div class="row align-items-center">
      <div class="modal-content ">
        <div class="modal-header">
          <h4 class="modal-title">Sign Up</h4>
        </div>
        <div class="modal-body">
          <form action = "/users" method = "post">
            <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
            <div class="form-group">
              <div class="row">
                <div class="col-md-3 "><label>First Name:</label></div>
                <div class="col-md-9 form-group">
                  <input type="text" class="form-control" name="first_name" placeholder="First Name" >
                </div>
                <div class="col-md-3 "><label>Last Name:</label></div>
                <div class="col-md-9 form-group">
                  <input type="text" class="form-control" name="last_name" placeholder="Last Name" >
                </div>
                <div class="col-md-3 "><label>Email:</label></div>
                <div class="col-md-9 form-group">
                  <input type="text" class="form-control" name="email" placeholder="Email" >
                </div>
                <div class="col-md-3 "><label>Location:</label></div>
                <div class="col-md-6 form-group">
                  <input type="text" class="form-control" name="location" placeholder="Location" >
                </div>
                <div class="col-md-1 "></div>
                <div class="col-md-2">
                  <select id="inputState" class="form-control" name="state">
                    <% @states.each do |state| %>
                      <option><p><%= state %></option>
                    <% end %>
                  </select>
                </div>
                <div class="col-md-3 "></div>
                <div class="col-md-9 gray">* Password should be at least 8 characters</div>
                <div class="col-md-3 "><label>Password:</label></div>
                <div class="col-md-9 form-group">
                  <input type="password" class="form-control" name="password" placeholder="Password" >
                </div>
                <div class="col-md-3 "><label>Confirm PW:</label></div>
                <div class="col-md-9 form-group">
                  <input type="password" class="form-control" name="password_confirmation" placeholder="Confirm Password" >
                </div>
                <div class="col-md-12 form-group">
                  <button type="submit" class="btn btn-success btn-lg btn-block ">Register</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 red">
    <% if flash[:messages] %>
      <p><% flash[:messages].each do |m| %></p>
        <%= m %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4"></div>
</div>