<div class="row ten">
  <div class="col-md-8"></div>
  <div class="col-md-2">Event Dashboard</div>
  <div class="col-md-2">
    <a class="blue" href="/sessions/destroy" >Log out</a>
  </div>
  <div class="col-md-12"><h4>Edit your profile</h4></div>
  <div class="col-md-12"></div>



  <div class="col-md-6"></div>
    
</div>