<div class="row ten">
  <div class="col-md-9"></div>
  <div class="col-md-2">
    <a class="blue float-right" href="/users/<%= current_user.id %>" >Edit my profile</a>
  </div>
  <div class="col-md-1">
    <a class="blue float-right" href="/sessions/destroy" >Log out</a>
  </div>
  <div class="col-md-12"><h4>Welcome, <%= current_user.first_name %> !</h4></div>
  <div class="col-md-12"></br></div>
  <div class="col-md-12 blue"><h5>Here are some of the events at your state:</h5></div>
  <div class="col-md-12">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
          <th scope="col">Location</th>
          <th scope="col">Host</th>
          <th scope="col">Action/status</th>
        </tr>
      </thead>
      <tbody>
        <% @eventsIn.each do |e| %>
          <tr>
            <td><a class="" href="/events/<%= e.id %>" ><%= e.event_name %></a></td>
            <td><%= e.event_date_format %></td>
            <td><%= e.event_location %></td>
            <td><%= e.user.first_name %></td>
            <td class="list-inline"><li>
              <% if current_user.events_joined.find_by(id: e.id)%>
                Joining<span class="tab-space"><span> <a  href="/joins/destroy/<%= e.id %>">Cancel<span class="tab-space"><span></a>
              <% else %>
                <a  href="/joins/create/<%= e.id %>">Join<span class="tab-space"><span> </a>
              <% end %>
              <% if current_user == e.user %>
                <a class=" red" href="/events/<%= e.id %>"> Delete<span class="tab-space"><span></a>
              <% end %>
            </li></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-12"></br></div>
  <div class="col-md-12 blue"><h5>Here are some of the events on other states:</h5></div>
  <div class="col-md-12">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Location</th>
        <th scope="col">State</th>
        <th scope="col">Host</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <% @events.each do |e| %>
          <tr>
            <td><a class="" href="/events/<%= e.id %>" ><%= e.event_name %></a></td>
            <td><%= e.event_date_format %></td>
            <td><%= e.event_location %></td>
            <td><%= e.event_state %></td>
            <td><%= e.user.first_name %></td>
            <td class="list-inline"><li>
              <% if current_user.events_joined.find_by(id: e.id)%>
                Joining<span class="tab-space"><span> <a  href="/joins/destroy/<%= e.id %>">Cancel<span class="tab-space"><span></a>
              <% else %>
                <a  href="/joins/create/<%= e.id %>">Join<span class="tab-space"><span> </a>
              <% end %>
              <% if current_user == e.user %>
                <a class=" red" href="/events/<%= e.id %>"> Delete<span class="tab-space"><span></a>
              <% end %>
            </li></td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>
<div class="col-md-12"></br></div>
  <div class="col-md-12 blue"><h5>Add Event</h5></div>

  <div class="col-md-6">
    <form action = "/events" method = "post">
    <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 "><label>Name:</label></div>
        <div class="col-md-9 form-group">
          <input type="text" class="form-control" name="event_name" placeholder="event name" >
        </div>

        <div class="col-md-3 "><label>Date:</label></div>
        <div class="col-md-4 form-group">
          <input type="date" class="form-control" name="event_date"  >
        </div>
        <div class="col-md-5 "></div>

        <div class="col-md-3 "><label>Location:</label></div>
        <div class="col-md-6 form-group">
          <input type="text" class="form-control" name="event_location" placeholder="event location" >
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-2">
          <select id="inputState" class="form-control" name="event_state">
            <% @states.each do |state| %>
              <option><p><%= state %></option>
            <% end %>
          </select>
        </div>
        <div class="col-md-12 form-group">
          <button type="submit" class="btn btn-primary btn-lg float-right">Add Event</button>
        </div>
      </div>
    </div>
    </form>
  </div>
  <div class="col-md-6">
    <div class="col-md-12 red">
      <% if flash[:messages] %>
        <p><% flash[:messages].each do |m| %></p>
          <%= m %>
        <% end %>
      <% end %>
    </div>
  </div>
    
</div>
