<div class="row ten">
  <div class="col-md-9"></div>
  <div class="col-md-2">
    <a class="blue float-right" href="/events" >Events Dashboard</a>
  </div>
  <div class="col-md-1">
    <a class="blue float-right" href="/sessions/destroy" >Log out</a>
  </div>
  <div class="col-md-12 pink"><h3><%= @event.event_name %> !</h3></div>

  <div class="col-md-5">
    <div class="row ten">
      <div class="col-md-12"><p><span class="blue">Host:</span> <%= @event.user.first_name %> <%= @event.user.last_name %></p></div>
      <div class="col-md-12"><p><span class="blue">Date:</span> <%= @event.event_date_format %></p></div>
      <div class="col-md-12"><p><span class="blue">Location:</span> <%= @event.event_location %>, <%= @event.event_state %></p></div>
      <div class="col-md-12"><p><span class="blue">People who are joining the event:</span> <%= @event.users_joined.length %></p></div>
    
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Location</th>
              <th scope="col">State</th>
            </tr>
          </thead>
          <tbody>
            <% @a.each do |b| %>
              <tr>
                <td><%= b.first_name %> <%= b.last_name %></td>
                <td><%= b.location %></td>
                <td><%= b.state %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-5">
    <div class="row ten">
      <div class="col-md-12 blue"><h4>Discussion about this event:</h4></div>
      <div class="col-md-12 bd-example">
          <div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="scrollspy-example log">
            <% @messages.each do |c| %>
              <h5 id="fat">@<%= c.user.first_name %></h5>
              <p><%= c.content %></p>
            <% end %>
          </div>
      </div>
      <div class="col-md-12"></br></div>
      <div class="col-md-12 blue"><h4>Add Comment:</h4></div>
      <div class="col-md-12">
        <div class="bd-example ">
            <form action = "/messages/create/<%= @event.id %>" method = "post">
            <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
            <div class="form-group">
              <div class="row">
                <div class="col-md-12 form-group">
                  <textarea class="form-control" rows="5" name="content" placeholder="comment"></textarea>
                </div>
                <div class="col-md-12 form-group">
                  <button type="submit" class="btn btn-primary btn-lg float-right">Submit Comments</button>
                </div>
              </div>
            </div>
            </form>
        </div>
      </div>
    </div>
  </div>

</div>

