/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */
 .log {
  overflow: scroll;
  width: 100%;
  height: 500px;
  border: #295674 solid 1px;
  padding: 20px;
}
 .ten{
  margin-top: 10px;
}
span.tab-space {padding-left:10px;}
.tab-space {padding-left:10px;}
 .login{
  margin-top: 200px;
}
.regis{
  margin-top: 100px;
}
.red{
  color: red
}
.blue{
  color: blue
}
.pink{
  color: rgb(201, 8, 175)
}
.gray{
  color: gray
}
.lightblue{
  color: rgb(7, 70, 109);
}